html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Spartan';
    background-color: #2670BC;
    color: white;
}

.app {
    width: 83rem;
    margin: 3.5rem auto 0;
}