.weeklyForecast {
    margin: 5rem auto 6rem;
}

.weeklyForecastList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.weeklyForecastListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #1B5699;
    margin: .5rem 0;
    height: 9.5rem;
}

.weeklyForecastListItem img {
    width: 5.5rem;
}

.day, .lowTemp, .highTemp, .wind, .rain {
    width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rain {
    margin-right: 3.5rem;
}

h1 {
    font-weight: 300;
    font-size: 2.5rem;
}

h5 {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
}

h4 {
    margin: 0 0 1rem;
    font-size: 2rem;
    font-weight: 500;
}

.day {
    font-weight: 500;
    margin-left: 2rem;
}